.nav-flex-container{
  justify-content: center;
}


.nav-menu-items ul li{
  text-align: center;
  width: 100%;
}

.video-area{
  margin: 2rem 1rem;
}

.video-area .video-player{
  flex-basis: 100%;
}

.video-area .video-player span{
  font-size: 0.8rem;
}

.video-area .video-list{
  flex-basis: 100%;
  padding: 1rem 1.5rem;
  align-self: stretch;
}

.video-player img{
  height: 10rem;
}

.partners-list{
  margin: 2rem 1rem;
}

.partners-list .partner{
  flex-basis: 50%;
}

.become-area .main-container{
  padding: 2rem 1rem;
}

.form-group{
  flex: auto;
}

.form-group input,textarea{
  width: 100%;
  margin-bottom: 1rem;
}



footer{
  padding: 2rem 1rem;
}

footer .apply-btn{
  margin-top: 1rem;
}

.footer-bottom{
  justify-content: center;
  flex-wrap: wrap;
}

.footer-bottom .left-item{
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

.footer-bottom .right-item{
  order: -1;
  text-align: center;
  width: 100%;
}